
.single-poll {

    // text-align: center;

    input[type="radio"] {
        margin-right: 20px;
    }

    .indent {
        margin-left: 33px;
    }

    li {
        margin: 10px 0;
    }
    h1 {
        margin-bottom: 15px;
    }
    // .col-12 {
    //     position: relative;
    //     .indent {
    //         position: absolute;
    //         left: 50px;
    //     }
    // }

}